*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Courier;
  }
:root{
    --naranja: #ff885b;
    --crema: #ffe5cf;
    --verdeAgua: #557c56;
    --verdeOscuro: #33372c;
    --negro:  #000000;
    --blanco: #ffffff;
}
header{
    display: flex;
    width: 100vw;
    background-color: var(--naranja);
}
#consoleSection{
    margin: 0 auto;     /* alinear item */
    margin-top: 30px;
    width: 80vw;
}
#consoleList{
    padding: 20px;
    display: flex;
    list-style: none;
    padding-bottom: 0px;
    padding-left: 0px;
}
#consoleList a{
    font: 300 var(--blanco);
    color: var(--blanco);
}
#consoleList li{
    padding: 18px;
    padding-bottom: 0px;
    border: solid var(--blanco) 0.3px;
    background-color: var(--negro);
    margin-bottom: 1px;
}
#console{
    border-left:solid var(--blanco) 0.3px;
    background-color: var(--negro);
    height: 60vh;
}
#fotocasa img{
    width: 20px;
    height: auto;
    margin-bottom: 10px;
}
#consolaTextarea{
    background-color: #000000;
    border: none;
    width: 80vw;
    height: 60vh;
    color: var(--blanco);
    padding: 20px;
    font-size: medium;
}
footer{
    margin-top: 90px;
    width: 100vw;
    height: 12vh;
    background-color: var(--verdeAgua);
}






