*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Courier;
  }
:root{
    --naranja: #ff885b;
    --crema: #ffe5cf;
    --verdeAgua: #557c56;
    --verdeOscuro: #33372c;
    --negro:  #000000;
    --blanco: #ffffff;
}
header{
    display: flex;
    width: 100vw;
    background-color: var(--naranja);
    margin-bottom: 80px;
}
#consoleSection{
    margin: 0 auto;     /* alinear item */
    margin-top: 30px;
    width: 65vw;
}
#consoleList{
    padding: 20px;
    display: flex;
    list-style: none;
    padding-bottom: 0px;
    padding-left: 0px;
}
#consoleList a{
    font: 300;
    color: var(--blanco);
}
#consoleList li{
    padding: 20px;
    padding-bottom: 0px;
    border:1px solid var(--blanco) ;
    background-color: var(--negro);
    border-radius: 8px 8px 0px 0px;
}

#uno:hover{
    border-bottom: 1px solid var(--negro);
}
#dos:hover{
    border-bottom: 1px solid var(--negro);
}
#tres:hover{
    border-bottom: 1px solid var(--negro);
}
#cuatro:hover{
    border-bottom: 1px solid var(--negro);
}
#cinco:hover{
    border-bottom: 1px solid var(--negro);
}
#seis:hover{
    border-bottom: 1px solid var(--negro);
}


#console{
    border-left: 1px solid var(--blanco);
    background-color: var(--negro);
    height: 60vh;
    border-radius: 0px 15px 15px 15px;
}
#fotocasa img{
    width: 20px;
    height: auto;
    margin-bottom: 10px;
}
#fotocasa{
    border-bottom: 1px solid var(--negro);
}
#console p{
    color: var(--blanco);
    border: none;
    width: auto;
    color: var(--blanco);
    padding: 20px;
    font-size: medium;
}
footer{
    margin-top: 90px;
    width: 100vw;
    height: 12vh;
    background-color: var(--verdeAgua);
}






